
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <!-- <div class="modal-body">
        <div class="form-group">
          <label for="numeroAgencia">Número</label>
          <input type="email" class="form-control" id="numeroAgencia" aria-describedby="numeroAgenciaAjuda" placeholder="Número da agência">
        </div>
        <div class="form-group">
          <label for="enderecoAgencia">Endereço</label>
          <input type="email" class="form-control" id="enderecoAgencia" aria-describedby="cpfAjuda" placeholder="Endereço">
        </div> -->
          <%#= yield %>
          <h3>
            <div class="ajax-loader">Carregando...</div>
          </h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
